<div id="page-contents" style="position: relative;">
  <div class="container">
    <div class="row">

      <div class="col-md-3 static">

      </div>
      <div class="col-md-7">
        <!-- Post Content
        ================================================= -->
        <button class="btn btn-primary pull-right" (click)="changePhoto()">Change profile Photo</button>

        <div class="" style="margin-bottom:15px;">
          <div class="post-content" *ngFor="let d of data">
            <app-post-header [headerPost]="d"></app-post-header>
            <app-post-type [postType]="d"></app-post-type>
            <app-comments-box [postCommands]="d"></app-comments-box>


            <div class="">
              <form [formGroup]="postCallFromGroup">
                <textarea rows="4" cols="50" formControlName="postCalltextArea"></textarea>
                <button class="btn btn-primary" value="Submit" (click)="postNewSection()"> Submit</button>
              </form>
            </div>

          </div>
        </div>
        <div class="col-md-2 static">

        </div>
      </div>
    </div>
  </div>
</div>


<div></div>