.friend-list .friend-card {
  border-radius: 4px;
  border-bottom: 1px solid #f1f2f2;
  overflow: hidden;
  margin-bottom: 20px;
}

.friend-list .friend-card .card-info {
  padding: 0 20px 10px;
}

.friend-list .friend-card .card-info img.profile-photo-lg {
  margin-top: -60px;
  border: 7px solid #fff;
}
