<div class="timeline-nav-bar hidden-sm hidden-xs">
  <div class="row">
    <div class="col-md-3">
      <div class="profile-info">
        <img
          src="/assets/images/theavengers_lob_mas_dsk_03_1.jpg"
          alt=""
          class="img-responsive profile-photo"
        />
        <h3>Ashok Muthu</h3>
        <p class="text-muted">Creative Director</p>
      </div>
    </div>
    <div class="col-md-9">
      <ul class="list-inline profile-menu">
        <li [routerLinkActive]="'active'" [routerLink]="['/']">
          <a>Timeline</a>
        </li>
        <li [routerLink]="['/about-section']" [routerLinkActive]="'active'">
          <a>About</a>
        </li>
        <li [routerLink]="['/album-section']" [routerLinkActive]="'active'">
          <a>Album</a>
        </li>
        <li [routerLink]="['/friend-section']" [routerLinkActive]="'active'">
          <a>Friends</a>
        </li>
        <li [routerLink]="['/timeline-section']" [routerLinkActive]="'active'">
          <a>News Feed</a>
        </li>
      </ul>

      <ul class="follow-me list-inline">
        <li>1,299 people following him</li>
        <li>
          <button class="btn-primary" (click)="addFriendsPopup()">
            Add Friend
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-add-friends-popup
  *ngIf="showAddFriendsPopup"
  (popupStatus)="showAddFriendsPopup = false"
></app-add-friends-popup>
