<div class="col-md-7">
  <app-post-section></app-post-section>
  <!-- Post Content
    ================================================= -->

  <div class="post-content" *ngFor="let post of getSectionData">
    <div class="post-date hidden-xs hidden-sm">
      <h5>{{ post.userName }}</h5>
      <p class="text-grey">{{ post.publishedTime }}</p>
    </div>

    <app-image-box
      [imgBox]="post"
      *ngIf="post.coverPhoto?.length > 0"
    ></app-image-box>

    <div class="post-container">
      <img
        src="/assets/images/user/user2.png"
        alt="user"
        class="profile-photo-md pull-left"
      />
      <div class="post-detail">
        <app-content-box
          [contentBox]="post"
          *ngIf="post.message?.length > 0"
        ></app-content-box>

        <app-main-comments
          [mainfeedback]="post.replayMessages"
          *ngIf="post.replayMessages?.length > 0"
        ></app-main-comments>
      </div>
    </div>

    <app-polling-section
      [pollContent]="post"
      *ngIf="post.category == 3"
    ></app-polling-section>
  </div>
</div>
