<div class="col-md-2 static">
  <div
    id="sticky-sidebar"
    class="is_stuck"
    style="position: absolute; top: auto; width: 155px;"
  >
    <h4 class="grey">Ashok's activity</h4>
    <div class="feed-item">
      <div class="live-activity">
        <p><a href="#" class="profile-link">Ashok</a> Commended on a Photo</p>
        <p class="text-muted">5 mins ago</p>
      </div>
    </div>
    <div class="feed-item">
      <div class="live-activity">
        <p><a href="#" class="profile-link">Ashok</a> Has posted a photo</p>
        <p class="text-muted">an hour ago</p>
      </div>
    </div>
    <div class="feed-item">
      <div class="live-activity">
        <p>
          <a href="#" class="profile-link">Ashok</a> Liked him friend's post
        </p>
        <p class="text-muted">4 hours ago</p>
      </div>
    </div>
    <div class="feed-item">
      <div class="live-activity">
        <p><a href="#" class="profile-link">Ashok</a> has shared an album</p>
        <p class="text-muted">a day ago</p>
      </div>
    </div>
  </div>
  <div
    style="position: static; width: 155px; height: 474px; display: block; vertical-align: baseline; float: none;"
  ></div>
</div>
